<%= content_for :title, 'Sea Level Rise Data Collection' %>

<h1>Flood Data</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Address</th>
    <th>Salinity</th>
    <th>Depth</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @flood.each do |flood| %>
        <td><%= flood.date_of_report %></td>
        <td><%= flood.description %></td>
        <td><%= flood.address %></td>
        <td><%= flood.salinity.level %> <%= image_tag flood.salinity.image.url %> </td>
        <td><%= flood.depth.level %> <%= flood.depth.unit %></th>
        </tr>
    <% end %>
    </tbody>
</table>

